{{define "404"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pages/errors/404.css?v=4">
    <link rel="stylesheet" href="/static/css/components/header.css?v=4">
    <link rel="stylesheet" href="/static/css/components/footer.css?v=4">
    <title>Error 404 - Not Found</title>
</head>
<body>
    <section class="card">
        <div class="card-info">
            <h1>Error 404 - Not Found</h1>
            <p>Sorry my little punk, we couldn't found the page you search</p>
            <a href="/">Go Home</a>
        </div>
    </section>

    <!-- Footer -->
    {{ template "footer" .}}
</body>
</html>

{{end}}