{{define "405"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pages/errors/405.css?v=4">
    <link rel="stylesheet" href="/static/css/components/header.css?v=4">
    <link rel="stylesheet" href="/static/css/components/footer.css?v=4">
    <title>Error 405 - Method Not Allowed</title>
</head>
<body>
    <section class="card">
        <div class="card-info">
            <h1>Error 405 - Method Not Allowed</h1>
            <p>No no, little rockstar! You don't have permission to use this method</p>
            <a href="/">Go Home</a>
        </div>
    </section>

    <!-- Footer -->
    {{ template "footer" .}}
</body>
</html>

{{end}}