{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/components/header.css?v=1">
    <title>MetaRock</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="title2"><h2 class="title2">Welcome</h2></a>
            <a href="/artists" class="title3"><h3>MetaRock</h3></a>
            <a href="/" class="login">Login/Register</a>
        </nav>         
    </header>
</div>
{{end}}
</body>
</html>