{{define "artists"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pages/artists.css?v=4">
    <link rel="stylesheet" href="/static/css/components/header.css?v=4">
    <link rel="stylesheet" href="/static/css/components/footer.css?v=4">
    <title>Document</title>
</head>
<body>
    <!-- Header -->
    {{template "header" .}}







    <!-- Footer -->
    {{template "footer" .}}
</body>
</html>


{{end}}